html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.initial-screen {
    background-color: #4589ff;
    opacity: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initial-logo {
    height: 40vh;
    width: 40vw;
    display: flex;
    justify-content: center;
}

.d-none {
    display: none;
}

.header {
    border: 1px solid transparent;
    opacity: 1;
    height: 10%;
    background-color: #4589ff;
}

.content-section {
    border: 1px solid transparent;
    opacity: 0;
    height: 75%;
    background-color: #4589ff;
}

.user-dialog {
    border: 1px solid grey;
    border-radius: 8px;
    opacity: 0;
    height: 400px;
    background-color: white;
}

.legal-bar {
    border: 1px solid transparent;
    opacity: 0;
    height: 5%;
    background-color: #4589ff;
}

.footer {
    border: 1px solid transparent;
    opacity: 0;
    height: 10%;
    background-color: #4589ff;
}

.login-screen {}

.signup-screen {}